
html
    form(method='POST' action='/des')  
        head Book Listt
        input(type='submit', name='add', value='add')
        br
        a ID :
        input(type='text' name='id' value='')
        a Title : 
        input(type='text',name='title',value= '')
        a Description : 
        input(type='text',name='description',value='')
        a Preview : 
        input(type='text',name='preview',value='')
        a Picture URL : 
        input(type='text',name='picture',value='')
        body
        p --- List ----
        input(type='submit', name='des', value='des')
        -for(var i=0; i<_cnt; i++)
            li 
            a -_id _title _des _pre _pic _cnt            
            div= time  
