//jade에는 반복문을 사용할수 있는데 그것을 사용하여 기존의 코드를 변경해 보자.
//Add 버튼이 작동 안하는데 그것을 작동하게 하고 입력 페이지를 이동시켜 
//title , description, preview, pic(url)을 입력 받고 save를 
//누리면 list로 이동 시켜서 방금 추가 한 내용 또한 리스트로 추가 시켜서 보여주고, cancel 시에는 추가 없이 list 페이지로 이동하게 한다. (jade 형식으로 add 페이지를 만드셔야합니다.)
//list 옆의 Des버튼을 눌렸을 때 Des 페이지로 이동하고 상세 내역도 보여주세요.
//list 페이지에 삭제 버튼도도 만들고 list를 한번 삭제 시켜보세요. 
//( 삭제버튼을 누른 후 페이지를 새로고침 하였을때 삭제 되게 하면 됩니다.)

html
  form(method='post', action='/add')  
    head Book List
    input(type='submit', name='add', value='add')
    br
    a ID :
    input(type='text' name='id' value='')
    a Title : 
    input(type='text',name='title',value= '')
    a Description : 
    input(type='text',name='description',value='')
    a Preview : 
    input(type='text',name='preview',value='')
    a Picture URL : 
    input(type='text',name='picture',value='')
    body
    p --- List ----
    -for(var i=0; i<cnt; i++)
      li coding 
      button des
      div= time  
      -cnt=cnt++
  